.popup__button {
    margin: 48px 36px 37px;
    padding: 14px;
    width: 358px;
    border: 0;
    border-radius: 2px;
    background-color: black;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__button:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
    cursor: pointer;
}

.popup__button.popup__button_disabled {
    background-color: grey;
  }

@media screen and (max-width: 540px) {
    .popup__button {
        margin: 45px 22px 25px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}