.element__title {
    max-width: 185px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 31px;
    margin-left: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 820px) {
    .element__title {
        max-width: 175px;
    }
}