.profile {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 36px;
    padding-bottom: 51px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .profile {
        margin: 0 19px;
    }
}

@media screen and (max-width: 670px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
        padding-bottom: 0;
    }
}