.popup__close-button {
    background-image: url(../../../images/close-icon.svg);
    position: absolute;
    right: -38px;
    top: -38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        background-size: 20px;
    }
}