.element__like {
    background-image:url(../../../images/like.svg);
    background-color: white;
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    border: none;
}

.element__like:hover {
    opacity: 0.5;
    transition-duration: 0.5s;
    cursor: pointer;
}