.header {
    margin: 0 auto;
    max-width: 880px;
    border-bottom: 1px solid;
    border-color: rgba(84, 84, 84, .7);
    padding-top: 45px;
    padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
    .header {
        margin: 0 27px;
    }
}

@media screen and (max-width: 540px) {
    .header {
        padding-top: 28px;
        padding-bottom: 31px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0;
        padding-left: 27px;
    }
}